.Project {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 10%;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling on the entire .Project container */
  }
  
  h1 {
    font-family: 'Coolvetica', sans-serif;
    font-size: 53px;
    font-weight: 500;
    color: #ffd700;
    position: relative;
  
    &::before,
    &::after {
      font-family: 'La Belle Aurore', cursive;
      font-size: 18px;
      position: absolute;
      opacity: 0.6;
      line-height: 18px;
    }
  
    &::before {
      content: "<h1>";
      top: -10px;
    }
  
    &::after {
      content: "</h1>";
      left: 0px;
      bottom: -30px;
    }
  
    .text-animate-hover:hover {
      color: #fff;
    }
  }
  
  .project-card {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to enable horizontal scrolling */
    justify-content: flex-start;
    margin-top: 20px;
    overflow-x: scroll; /* Enable horizontal scroll for the cards */
    padding: 10px;
    scrollbar-width: none; /* Hide scrollbar */
    width: 85%;
  
    .card {
      flex: 0 0 auto;
      width: 300px;
      height: 200px;
      perspective: 1000px;
      margin-right: 20px; /* Adjust space between cards */
      position: relative;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(20px); /* Glassmorphism blur effect */
      border-radius: 15px;
      overflow: hidden;
      transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
      transform-style: preserve-3d;
  
      &:hover {
        transform: rotateY(180deg); /* Flip the card */
      }
  
      .content {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.6s ease-out;
  
        .front,
        .back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 20px;
          box-sizing: border-box;
          border-radius: 15px;
          transition: opacity 0.6s ease-in-out;

        }
  
        .front {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          opacity: 1;
          z-index: 2; /* Ensure the front is on top initially */

          &:hover{
            opacity: 0;
          }
        }
  
        // .back {
        //   display: none;
        //   justify-content: center;
        //   align-items: center;
        //   flex-wrap: nowrap;
        //   opacity: 1;
        //   z-index: 1; /* Ensure the back is below initially */

        //   &:hover{
        //     opacity: 1;
        //     display: block;
        //   }
        // }


         .back{
          
          opacity: 0;

          &:hover{
            opacity: 1;
          }
        }
  
        .title {
          font-size: 24px;
          color: #ffffff;
          margin-bottom: auto; /* Push button to the bottom */

          
        }
  
        .copy {
          font-size: 14px;
          color: #ffffff;
          margin-bottom: 20px;
          width: 100%;
          border-radius: 15px;
          transition: opacity 0.6s ease-in-out;
          align-items: center;
          justify-content: center;
          
        }
  
        .btn {
          background-color: rgba(255, 99, 71, 0.8);
          border: none;
          padding: 10px 20px;
          color: #fff;
          cursor: pointer;
          border-radius: 5px;
          z-index: 100; /* Make sure the button is on top of everything */
          position: relative; /* Adjust as necessary; can also be 'absolute' if needed */
          pointer-events: auto; /* Ensure the button can be clicked */
        }
      }
    }
  }
  
  
  
  